.dialog-fullsize {
    width: 100vw !important;
    height: 100vh !important;
    height: 100dvh !important;
    max-width: none !important;
    max-height: none !important;

    .mat-mdc-dialog-content {
        max-height: none !important;
    }
}

.fullsize-button {
    margin-inline-start: auto;
}
