.title {
  .mat-mdc-dialog-title {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    gap: 5px;

    .icon-title {
      vertical-align: middle;
    }
  }
}
