.title {
  .mat-mdc-dialog-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;

   .icon-title {
      flex-shrink: 0;
    }
  }
}
