@use './assets/theme/tokens' as tokens;

:root {
  --logo-url: url('/assets/images/milo-blue.png');
  --logo-url-blue: url('/assets/images/milo-blue.png');
  --logo-url-white: url('/assets/images/milo-white.png');
}

html {
  @include tokens.app-theme();

  color-scheme: light;
  // height: 100%;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

html.dark {
  color-scheme: dark;
  --logo-url: var(--logo-url-white);
}

body {
  @include tokens.heading-hierarchy();

  min-height: 100%;
  margin: 0;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}